@mixin reset-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// INPUT STYLE
@mixin input {
  @include input-border;
  background-color: $form-background-color;
  width: 100%;
  height: 2rem;
  padding-left: 1rem;
  outline: none;
}

@mixin input-border {
  border-radius: 0.5rem;
  border: 0.5px solid $input-color;
}

@mixin input-hover {
  border: 0.5px solid $input-hover-color;
}

//GENDER TYPE RADIO STYLE
@mixin input-radio {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid $input-btn-color;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

@mixin input-radio-checked {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $input-btn-color;
}

// CHECKBOX STYLE
@mixin input-checkbox {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 2px solid $input-btn-color;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin: 0;
}

@mixin input-checkbox-checked {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;
  width: 3px;
  height: 7px;
  border: solid $form-background-color;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// SUBMIT BUTTON STYLE

@mixin submit-btn {
  @include input-border;
  font-size: 1.1rem;
  background-color: $input-btn-color;
  color: $form-background-color;
  height: 3rem;
  border: none;
  cursor: pointer;
}

// INPUT ICONS
@mixin icon {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

// DIALOG STYLE

@mixin dialog {
  padding: 50px 10px;
  border-radius: 8px;
  text-align: center;
  background-color: $dialog-background-color;
  font-size: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 40%;
}

@mixin close-btn {
  @include input-border;
  width: 40px;
  padding: 3px 10px;
  font-size: 24px;
  background-color: $dialog-background-color;
  margin-top: 1rem;
  cursor: pointer;
}
