// COLORS
$background-color: rgba(144, 238, 144, 0.353);
$form-background-color: rgb(247, 240, 240);

$input-color: rgb(62, 62, 62);
$input-hover-color: rgb(150, 203, 182);

$input-btn-color: rgb(40, 156, 108);

//MARGINS
$input-margin-top: 0.8rem;
